html, body {
    background-color: rgb(250, 245, 238);
    font-family: Futura;
    font-size: 14pt;
}

.wrap {
    display: flex;
}

.box{
    height: 200vh;
    width: 70vw;
    background-color: rgb(250, 245, 238);
    overflow: scroll;
}

.smallbox{
    height: 200vh;
    width: 29vw;
    background: linear-gradient(to bottom, #e0eafc, #cfdef3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: scroll;
}

@media only screen and (max-device-width : 480px) {
    /* Styles */
    .smallbox{
        height: 1vh;
        width: 1vw;
        background: linear-gradient(to bottom, #e0eafc, #cfdef3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        overflow: scroll;
    }

    .box{
        height: 200vh;
        width: 100vw;
        background-color: rgb(250, 245, 238);
        overflow: scroll;
    }

}

.title { 
    font-family: 'Racing Sans One', cursive;
    font-size: 30pt;
    margin-left: 20px;
    padding-top: 20px;
}

.title-small {
    font-family: Futura;
    font-size: 25pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.title-story {
    margin-left: 0px;
    font-family: 'Futura', cursive;
    font-size: 45pt;
}

.cover-img {
    width: 30%;
    margin-top: 100px;
    clip-path: circle(120px at center);
}

.story-img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

.date {
    color: rgb(148, 148, 148);
}

.thanks-text {
    font-family: Futura;
    font-size: 14pt;
    color: rgb(141, 140, 140);
}

.icon-footer {
    color:black
}

.icon-footer:hover {
    filter: invert(27%) sepia(51%) saturate(0%) hue-rotate(346deg) brightness(1040%) contrast(97%);
}

.banner {
    border-color: rgb(250, 245, 238);
    background: linear-gradient(to bottom, #e0eafc, #cfdef3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
}

.business-badge {
    color: white;
    background: linear-gradient(to bottom, #ff416c, #ff4b2b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.engineering-badge {
    color: white;
    background: linear-gradient(to bottom, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.data-badge {
    color: white;
    background: linear-gradient(to bottom, #3ca55c, #b5ac49); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.facebook {
    background: white;
}

.medium {
    background: white;
}

.linkedin {
    background: white;
}

h5 {
    font-weight: bolder;
}
