{% load static %}

<div class="pt-4 " style="background-color: rgb(209, 209, 209);">

    <div class="row d-flex justify-content-center">
        <a class="link" href="https://www.linkedin.com/in/charlie-mackie-749ba314b/" target="#">
            <img alt="linkedin" src="{% static 'posts/images/linkedin.svg' %}" width="25" class="icon-footer">
        </a>
        <a class="pl-3 pr-3 link" href="https://github.com/charliemackie" target="#">
            <img alt="github" src="{% static 'posts/images/git.png' %}" width="30" class="icon-footer">
        </a>
        <a class="link" href="mailto:mackiecharlie@hotmail.com" target="#">
            <img alt="email" src="{% static 'posts/images/mail.svg' %}" width="30" class="icon-footer"> 
        </a>
    </div>
    
    <div class="d-flex justify-content-center p-4">
        © Copyright 2021, Charlie Mackie
    </div>
</div>